@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
      url('../fonts/BebasNeue-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
}

body {
  font-family: 'OpenSans', sans-serif;
}