@media screen and (max-width:915px) {
  .services__flex {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media  screen and (max-width:895px) {
  .about__flex {
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width:825px) {
  .services__top-block {
    flex-direction: column;
    align-items: center;
  }

  .services__title::after {
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .services__flex {
    margin-top: 20px;
  }

  .services {
    margin: 50px 0 15px 0;
  }
}

@media  screen and (max-width: 695px) {
  .newsletter__title {
    margin-right: 15px;
  }
}

@media  screen and (max-width: 625px) {
  .newsletter__flex {
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
  }
}

@media  screen and (max-width: 615px) {

  .text-h1 {
    padding-top: 257px;
  }
}
@media  screen and (max-width: 550px) {
  .top-menu__logo {
    margin-top: 30px;
  }

  .top-menu__flex {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width:475px) {
  .about__pic-blocks {
    flex-direction: column;
    align-items: center;
  }
}

@media  screen and (max-width: 390px) {
  .top-menu__menu {
    flex-direction: column;
    justify-content: center;
  }
}
@media  screen and (max-width: 320px) {
  .header__p {
    margin-bottom: 100px;
  }
}

