@media  screen and (max-width:895px) {
  .about__flex {
    justify-content: center;
    gap: 20px;
  }
}

@media  screen and (max-width: 615px) {
  .text-h1 {
    padding-top: 257px;
  }
}
@media  screen and (max-width: 550px) {
  .top-menu__logo {
    margin-top: 30px;
  }

  .top-menu__flex {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width:475px) {
  .about__pic-blocks {
    flex-direction: column;
    align-items: center;
  }
}

@media  screen and (max-width: 390px) {
  .top-menu__menu {
    flex-direction: column;
    justify-content: center;
  }
}
@media  screen and (max-width: 320px) {
  .header__p {
    margin-bottom: 100px;
  }
}

