/* Глобальные стили */

:root {
  --accent: #16ACE8;
  --grey: #48555B;
  --white: #fff;
}

html {
  user-select: none;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

.text-h1 {
  padding-top: 307px;
  color: #FFF;
  font-family: BebasNeueBold;
  font-size: 60px;
  letter-spacing: 4.6px;
  margin-bottom: -3px;
}

.text-p {
  color: #FFF;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.container {
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-light {
  background-image: url(../img/company-logo-white.svg);
  background-size: cover;
  width: 102px;
  height: 23px;
}

.logo-black {
  background-image: url(../img/company-logo-black.svg);
  background-size: cover;
  width: 102px;
  height: 23px;
}

/* Шапка сайта-Херосекшн */

.header {
  max-width: 1440px;
  height: 768px;
  background-image: url("../img/bg.jpg");
  background-position: center;
  margin: 0 auto;
  text-align: center;
  padding-top: 41px;
}

.header__logo {
  margin: 0 auto;
}

.header__scroll {
  color: #FFF;
  font-family: OpenSans;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.header__p {
  margin-bottom: 200px;
}

/* Верхнее меню */

.top-menu {
  color: #FFF;
  border: 1px solid #E6E6E6;
}

.top-menu__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu__menu {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.top-menu__menu-item {
  color: var(--grey);
  text-align: center;
  font-family: OpenSans;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.091px;

  & a{
    text-decoration: none;
    color: inherit;
    transition: ease-in-out 0.3s;

    &:hover {
      color: var(--accent);
    }
  }
}

/* Блок About */

.text-h2 {
  color: #48555B;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.306px;
  text-transform: uppercase;
}

.about__h2 {
  position: relative;
  text-align: center;
  padding-top: 57px;
}

.about__h2::after {
  content: "";
  position: absolute;
  margin-top: 10px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: var(--accent);
}

.about__flex {
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__left-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 405px;
}

.about__h3 {
  color: #48555B;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.188px;

  & span {
    color: var(--accent);
  }
}

.about__p {
  color: #48555B;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
}
.about__pic-blocks {
  display: flex;
  gap: 20px;
}
.about__pic-item {
  color: #FFF;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px; /* 120.833% */
  letter-spacing: 0.188px;
  width: 140px;
  height: 224px;
  background-color: #000;
  text-transform: uppercase;
  padding: 15px 20px 15px 14px;
}

.about__pic-item:nth-child(1) {
  background-image: url(../img/weplan.jpg);
}
.about__pic-item:nth-child(2) {
  background-image: url(../img/wemanage.jpg);
}
.about__pic-item:nth-child(3) {
  background-image: url(../img/webuild.jpg);
}

/* Блок сервисов */

.services {
  margin: 115px 0;
}

.services__top-block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.services__title {
  color: var(--grey);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.306px;
  position: relative;
}

.services__title::after {
  content: "";
  position: absolute;
  margin-top: -5px;
  top: 100%;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: var(--accent);
}

.services__p {
  color: var(--grey);
  font-size: 11px;
  max-width: 405px;
  font-weight: 400;
  line-height: 19px; /* 172.727% */
  letter-spacing: 0.2px;
}

.services__button {
  width: 150px;
  height: 40px;
  background-color: var(--accent);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  padding: 9px 0;
}

.services__btn-link {
  text-decoration: none;
}

.services__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 76px;
}
.services__item {
  width: 295px;
  height: 330px;
  border: 1px solid #E6E6E6;
  background-color: var(--white);
  padding: 38px 23px;
}

.serv__item-icon {
  margin-bottom: 25px;
}

.services__item:nth-child(1) .serv__item-icon {
  width: 65.625px;
  height: 75px;
  background-image: url(../img/cap1.svg);
}

.services__item:nth-child(2) .serv__item-icon {
  width: 67.742px;
  height: 75px;
  background-image: url(../img/cap2.svg);
}

.services__item:nth-child(3) .serv__item-icon {
  width: 70.588px;
  height: 75px;
  background-image: url(../img/cap3.svg);
}

.serv__item-title {
  width: 250px;
  color: var(--grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.427px;
  margin-bottom: 13px;
}

.serv__item-desc {
  width: 250px;
  color: var(--grey);
  font-size: 13px;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
}

/* get in touch block */

.get-in-touch {
  max-width: 1440px;
  height: 498px;
  background-image: url(../img/git-bg.png);
  text-align: center;
  padding: 120px 0;
  margin: 0 auto;

  & a {
    text-decoration: none;
  }
}

.get-in-touch__h3 {
  color: var(--grey);
  font-size: 30px;
  margin: 0 auto;
  max-width: 350px;
  font-weight: 700;
  line-height: 36px; /* 120% */
  letter-spacing: 0.15px;
  margin-bottom: 35px;
}

.get-in-touch__btn {
  width: 150px;
  height: 40px;
  background-color: var(--accent);
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 11px;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Блок рассылки */

.newsletter__flex {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  gap: 15px 0;
  align-items: center;
  justify-content: center;
  flex-wrap: row wrap;
  background-color: #171819;
}

.newsletter__title {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.846px;
  margin-right: 70px;
}

#newsletter_email {
  border: 1px solid #979797;
  max-width: 250px;
  height: 40px;
  background: var(--white);
  color: var(--grey);
  font-size: 14px;
  font-weight: 400;
  padding-left: 16px;
  letter-spacing: 0.07px;
}

.news__button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: var(--accent);
  border: none;
  color: var(--white);
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Footer */

.footer {
  min-height: 240px;
  background: #141A20;;
}

.footer__flex {
  justify-content:space-between;
  padding-top: 42px;
  display: flex;
  flex-flow: row wrap;
}
.footer__item {
  max-width: 300px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 0 15px;
}

.footer__logo {
  width: 101.618px;
  height: 23px;
}

.footer__h3 {
  text-transform: uppercase;
  color: var(--white);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.846px;
}

.links__grid {
  display: grid;
  width: 302px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 34px;
  grid-auto-flow: column;
}

.links__item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.links__item:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
}
.links__item:nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;
}
.links__item:nth-child(4) {
  grid-area: 4 / 1 / 5 / 2;
}
.links__item:nth-child(5) {
  grid-area: 5 / 1 / 6 / 2;
}
.links__item:nth-child(6) {
  grid-area: 1 / 2 / 2 / 3;
}
.links__item:nth-child(7) {
  grid-area: 2 / 2 / 3 / 3;
}
.links__item:nth-child(8) {
  grid-area: 3 / 2 / 4 / 3;
}
.links__item:nth-child(9) {
  grid-area: 1 / 3 / 2 / 4;
}
.links__item:nth-child(10) {
  grid-area: 2 / 3 / 3 / 4;
}
.links__item:nth-child(11) {
  grid-area: 3 / 3 / 4 / 4;
}

.links__item {
  color: var(--white);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 25px; /* 227.273% */
  letter-spacing: 0.846px;

  & a {
    text-decoration: none;
    color: inherit;
    transition: ease-in-out 0.3s;

    &:hover {
      color: var(--accent);
    }
  }
}

.footer__p {
  color: #FFF;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px; /* 172.727% */
  letter-spacing: 0.85px;
  width: 250px;

  & a {
    text-decoration: none;
    color: inherit;
    transition: ease-in-out 0.3s;

    &:hover {
      color: var(--accent);
    }
  }
}

.footer__socials {
  display: flex;
  gap: 25px;
}
.footer__fb {
  background-color: var(--white);
  mask: url(../img/fb.svg);
  width: 12px;
  height: 12px;
  transition: ease-in-out 0.3s;

  &:hover {
    background-color: var(--accent);
  }
}
.footer__twi {
  height: 12px;
  width: 12px;
  background-color: var(--white);
  mask: url(../img/twi.svg);
  transition: ease-in-out 0.3s;

  &:hover {
    background-color: var(--accent);
  }
}
.footer__goo {
  width: 12px;
  height: 12px;
  background-color: var(--white);
  mask: url(../img/goo.svg);
  transition: ease-in-out 0.3s;

  &:hover {
    background-color: var(--accent);
  }
}


.bottom__footer {
  background: #171819;
}

.bottom__footer div {
  color: var(--white);
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.846px;
  padding: 22px 0;
  height: 60px;
}